@model PaginatedList<TermProjectX.Models.SCP>

@{
    ViewData["Title"] = "Index";
}

<h1>Secure. Contain. Protect.</h1>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <div class="row">
            <div class="col-md-4">
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]"/>
            <input type="submit" value="Search" class="btn btn-default" />
            </div>
            <div class="col-md-2"></div>
            <div class="btn-group-md justify-content-end col-md-6">
            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" class="btn btn-primary">Sort by Name</a>
            
            <a asp-action="Index" class="btn btn-success">Back to Full List</a>
            </div>
        </div>
    </div>
</form>

<div class="card-deck justify-content-center">
@foreach (var item in Model) {
        <div class="card h-100 bg-info text-center" style="max-width: 18rem;">
            <div class="card-header bg-info">
                <a asp-action="Details" asp-route-id="@item.ID" class="text-white"><h5>@Html.DisplayFor(modelItem => item.Name)</h5></a>
            </div>
       <div class="card-body bg-dark">
                <h6 class="card-subtitle ">@Html.DisplayName("Threat Level: ")@Html.DisplayFor(modelItem => item.ThreatLevel.Name)</h6><br/>
                <h6 class="card-subtitle ">@Html.DisplayName("Object Class: ") @Html.DisplayFor(modelItem => item.ObjectClass.Name)</h6><br/>      
            <div class="card-footer mt-auto">
                    <small>
                        <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-success">Edit</a> 
                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                    </small>
            </div>
      </div>
    </div>
  
}
</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<div class="container">
    <br /><br />
    <ul class="pagination justify-content-center">
<li class="page-item">
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="page-link text-white bg-primary @prevDisabled">
    Previous
</a>
</li>
        <li class="page-item">
            <a asp-action="Create" class="page-link text-white bg-primary">Create New</a>
        </li>
<li class="page-item">
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
               class="page-link text-white bg-primary @nextDisabled">
    Next
</a>
</li>

</ul>
</div>