@model TermProjectX.Models.ThreatLevel

@{
    ViewData["Title"] = "Details";
}
<h1 class="text-center">@Html.DisplayNameFor(model => model): Details</h1>


<br />
<br />

<div class="card-deck justify-content-center">
@*CARD*@
<div class="card" style="max-width: 18rem;">

    @*CARD HEADER*@
    <div class="card-header bg-info">
            @Html.DisplayNameFor(model => model) @Html.DisplayNameFor(model => model.Name)
    </div>
    @*CARD BODY*@
    <div class="card-body bg-dark">

        @*CARD TITLE*@
        <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>

            @*BUTTONS*@
            <br />
            <div class="form-group">
                <a asp-action="Edit" asp-route-id="@Model.ThreatLevelId" class="btn btn-primary">Edit</a>
                <a asp-action="Index" class="btn btn-success">Back</a>
            </div>

    </div>
</div>
</div>